{% load sekizai_tags %}

{% addtoblock "css" %}<link href="{{ STATIC_URL }}lightbox/css/lightbox.css" rel="stylesheet" />{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}lightbox/js/jquery-1.10.2.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}lightbox/js/lightbox-2.6.min.js"></script>{% endaddtoblock %}

<div class="coccinella-image">
<p style="text-align: center;">
{% if plugin.display_link %}<a href="{{ photo.plugin_link_url }}" data-lightbox="{{ plugin.slug }}">{% endif %}
<img src="{{ photo.plugin_display_url }}" width="{{ photo.plugin_display_size.0 }}" height="{{ photo.plugin_display_size.1 }}" alt="{{ photo.title }}" />
{% if plugin.display_link %}</a>{% endif %}
</p>
<p>Kód pro vložení:</p>
<code>&lt;a href="http://coccinella.cz{{ photo.get_absolute_url }}" &gt;&lt;img src="http://coccinella.cz{{ photo.plugin_display_url }}" width="{{ photo.plugin_display_size.0 }}" height="{{ photo.plugin_display_size.1 }}" alt="{{ photo.title }}" /&gt;&lt;/a&gt;</code>
</div>
