{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block title %}{% page_attribute page_title %}{% endblock %}

{% block header %}
    <div id="moto">
        {% placeholder moto %}
    </div>
    <p id="welcome">
        <big>Vítej u Coccinelly,</big><br/>
        Berušky, Sluníčka usměvavého...
    </p>
{% endblock %}

{% block body %}
    <div id="menu">
        {% show_menu 0 1 0 0 "menu.html" %}
    </div>
    <div id="content">
        {% block content %}{% placeholder content %}{% endblock %}
    </div>
{% endblock %}
